@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

nav {
  background-color: #000814;
  color: white;
  ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    padding: 1rem 3rem;
    padding-right: 5rem;
    font-family: Lato;
    align-items: center;
    .logo {
      display: flex;
      margin-right: auto;
      letter-spacing: 0.5px;
      font-weight: 800;
      align-items: center;
      img {
        margin-right: 4px;
      }
    }
  }
}

header,
section {
  padding: 0.5rem 18rem;
}

.hero-section {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 7rem;
  gap: 2rem;

  background-color: #001d3d;
  color: #ffc300;
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-family: Lato, Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      font-weight: 800;
      font-size: 2.4rem;
      margin-bottom: 0;
    }
    p {
      line-height: 1.7rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-justify: distribute;
      text-align: justify;
    }
  }
}

.features-section {
  margin-top: 4rem;
  margin-bottom: 7.7rem;
  padding: 0.5rem 18.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  h2 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
  }
  .cards-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    align-content: center;
    column-gap: 5rem;
    row-gap: 4rem;
    padding: auto 1rem;

    .card {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      .text-content {
        h3 {
          font-size: 1.3rem;
        }
      }
      img {
        border: 5px solid #000814;
        border-radius: 13px;
      }
    }
  }
}

.why-us-section {
  background-color: #ffc300;
  text-align: center;
  h2 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 3.5rem 0 1.5rem 0;
    letter-spacing: 1px;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1.3px;
    margin-bottom: 5.3rem;
    line-height: 2.8rem;
  }
}

.register-section {
  background-color: #001d3d;
  .div-container {
    display: flex;
    margin: 5rem 0;
    padding: 2.7rem 3rem;
    color: #0b77dd;
    border: 4px solid #0b77dd;
    gap: 10rem;
    align-items: center;
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      margin-right: auto;
      p {
        font-weight: 300;
      }
    }
    button {
      height: 2.5rem;
      width: 11rem;
      font-size: 1rem;
      background-color: transparent;
      color: #0b77dd;
      border: 2px solid #0b77dd;
    }
    button:hover {
      cursor: pointer;
    }
  }
}
footer {
  height: 5rem;
  background-color: #000814;
  color: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
}
